*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    background-color: gray;
    height: auto;
    overflow-x: hidden;
    display: flex;
    position: relative;
    
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: 1% 3% 2% 3%;
}
.container{
    display: flex;
    padding: 1% 2% 2% 2%;
    max-width: 900px;
    min-height: 1200px;
    background-color: white;
    display: grid;
    grid-template-rows: 7% 70% 20%;
    grid-template-areas: 
    "hd"
    "mn"
    "ft";
}
.head{
    grid-area: hd;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    
}
.Body{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    align-content: space-around;
    grid-area: mn;
   
}
.foot{
    display: flex;
    font-size: 0.9rem;
    justify-content: space-between;
    align-items: end;
    grid-area: ft;
    
    
    border-top: 1px solid rgba(0, 0, 0,0.3);
   
}

.nav{
   
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    transform: translateX(5%);
    justify-content: space-between;
    align-content: space-around;
}
#login{
    padding: 10px;
    background-color: #4E5DC0;
;
}
.icon{
    height: 50px;
    width: 50px;
}
#icon1{
    height: 50px;
    width: 50px;
}
.image{
    position: relative;
    border-radius: 7%;
    height: 40%;
    width: 43%;
}
.main-text{
    width: 43%;
    height: 40%;
}
#text-2{
    padding-right: 10%;
}
.media{
    width: 20%;
    height: 16%;
}
#ft1{
    width: 25%;
    height: 80%;
}
#ft2{
    width: 25%;
    height: 80%;
}
#ft3{
    height: 80%;
    width: 10%;
}
#ft4{
    height: 80%;
    width: 15%;
}
.blue{
    color: #4E5DC0;

}
#Team{
    text-decoration: underline;
    text-underline-offset: 25%;
}
#policy{
    text-decoration: underline;
    text-underline-offset: 25%;
}
h2{
    font-family: 'Roboto Flex';
    text-decoration: underline;
    text-underline-offset: 60%;
    text-decoration-line: underline;
    text-decoration-color: rgba(0, 0, 0,0.5);
    text-decoration-thickness: 1%;
}
.text{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 16px;
    line-height: 1.4rem;
    /* font-weight: 500;
     */
}
#login{
    color: white;
}
@media only screen and (max-width: 740px) {
    .container{
        max-width: 600px;
        min-height: 900px;
        grid-template-rows: 7% 78% 15%;
        grid-template-areas: 
        "hd"
        "mn"
        "ft";
    }
    .image{
        border-radius: 7%;
    height: 30%;
    width: 43%;
    }
    .foot{
        font-size: 10px;
    }
    .text{
        line-height: 1.1rem;
        font-size: 0.7rem;
    }
    #login{
        padding: 1%;
        background-color: #4E5DC0;
    ;
    }
    .icon{
        height: 55%;
        width: 8%;
    }
    #icon1{
        height: 30%;
        width: 17%;
    }

}
@media only screen and (max-width: 480px) {
    .container{
        max-width: 400px;
        min-height: 600px;
        grid-template-rows: 7% 78% 15%;
        grid-template-areas: 
        "hd"
        "mn"
        "ft";
    }
    .image{
        border-radius: 7%;
    height: 30%;
    width: 43%;
    }
    .foot{
        font-size: 0.4rem;
    }
    .text{
        line-height: 0.8rem;
        font-size: 0.4rem;
    }
}